.text-parrafo {
  font-family: "Montserrat";
  font-size: 16px;
  color: rgb(134, 129, 129);
  padding: 10px;
}

h1 {
  margin: 25px;
}

.hoverdestello figure {
  position: relative;
}

.hoverdestello figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.hoverdestello figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
header {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
header .nav-link {
  font-size: 25px;
}
header .btn {
  background-color: rgb(28, 160, 153);
}
header .logo_navbar {
  width: 100px;
  height: 100px;
}
header .navbar-brand {
  width: 100px;
  height: 100px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}
main .cont {
  box-sizing: border-box;
}
main .btn {
  background-color: rgb(28, 160, 153);
}
main .col-sm-6 {
  padding-top: 2%;
}
main .carousel > .carousel-inner > .carousel-item > img {
  width: 100px;
  height: 35% px;
}
main .video_youtube {
  padding: 2%;
  height: 700px;
}
main .card-body {
  text-align: center;
}
main .spacing {
  padding: 2%;
}
@media screen and (max-width: 768px) {
  main .video_youtube {
    height: 300px;
  }
  main .card {
    width: 95%;
  }
  main .card.mb-3 {
    width: 50%;
  }
}

html {
  height: 100%;
}

.error-container {
  text-align: center;
  font-size: 180px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}

.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}

.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.error-container > span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 4s infinite;
}

.error-container > span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 4s infinite;
}

.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}

.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
  border-radius: 0%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 999px;
  box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}

.error-container > span:nth-of-type(2):before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4), inset 0 30px 0 rgba(209, 242, 165, 0.4), inset -30px 0 0 rgba(239, 250, 180, 0.4), inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
    box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4), inset 0 30px 0 rgba(245, 105, 145, 0.4), inset -30px 0 0 rgba(209, 242, 165, 0.4), inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
    box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4), inset 0 30px 0 rgba(255, 196, 140, 0.4), inset -30px 0 0 rgba(245, 105, 145, 0.4), inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #F56991;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }
  100% {
    color: #D1F2A5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color: #F56991;
  }
  100% {
    color: #FFC48C;
  }
}
/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #416475;
  margin-bottom: 50px;
}

html, button, input, select, textarea {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #92a4ad;
}

h1 {
  text-align: center;
  margin: 30px 15px;
}

.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}

.link-container {
  text-align: center;
}

a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #1CA099;
  padding: 10px 15px;
  border-radius: 0;
  color: #ffffff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

body {
  background-color: rgb(255, 255, 255);
  min-height: 100%;
}
body .h1 {
  font-size: 3rem;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-top: 2%;
  bottom: 0;
  width: 100%;
}
footer .listNav {
  list-style: none;
}
footer .listNav .linkNav {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer .iconosRedes {
  color: rgb(255, 255, 255);
  height: 50px;
}
@media screen and (max-width: 768px) {
  footer .nav-link {
    font-size: 15px;
  }
  footer .logo_navbar {
    width: 50px;
    height: 50px;
  }
  footer .navbar-brand {
    width: 50px;
    height: 50px;
  }
}

.texto_nosotros {
  font-size: medium;
  padding: 2%;
}

.textoarea {
  resize: none;
}

.bannerNosotros {
  height: 50%;
  width: 100%;
}

.bannerEv {
  height: 50%;
  width: 100%;
}

.paralax-noticias {
  background: linear-gradient(rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.8));
  background-image: url(../assets/Img/BannerNoticas.jpg);
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.fadein img {
  opacity: 0.5;
  transition: 1s ease;
}

.fadein img:hover {
  opacity: 1;
  transition: 1s ease;
}

/*# sourceMappingURL=estilos.css.map */
