.paralax-noticias {
    background: linear-gradient(rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.8)),;
    background-image: url(../assets/Img/BannerNoticas.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}